# Ignore virtual enviroment
.venv/

# Ignore database
chroma_db/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore node_modules (will be installed inside the container)
frontend/node_modules/

# Ignore Next.js build and cache files
frontend/.next/
frontend/.turbo/
frontend/out/

# Ignore logs and temporary files
.env
frontend/.env
frontend/.npm/
frontend/.cache/
frontend/yarn.lock
frontend/package-lock.json

# Ignore Docker and Git files
Dockerfile
.dockerignore
.git
.gitignore
frontend/.gitignore
